<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MusicBox Zvrsti</title>
  <!-- favicon -->
  <link rel="shortcut icon" type="image/png" href="img/favicon.ico">
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <!-- poppers -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- vue -->
  <script type="module" src="js/genres.js"></script>
</head>

<!-- header -->

<body style="background-color: black">
  <!-- poveži z genres.js-->
  <div class="body-wrapper" id="genres">
    <header>
      <nav class="navbar fixed-top" style="background-color: rgb(240, 240, 81);">
        <div class="container-fluid">
          <a class="navbar-brand"
            style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"
            href="index.html"><img src="img/logo.png" style="padding-right: 10px;">Music Box - glasbena knjižnica</a>
        </div>
      </nav>
    </header>

    <!-- main -->
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-3">
            <!-- Meni seznamov -->
            <div class="list-group" style="padding-top: 100px;">
              <a href="musicians.html" class="list-group-item list-group-item-action"
                style="background-color: black; border-color: rgb(240, 240, 81); color:rgb(240, 240, 81);">
                Glasbeniki
              </a>
              <a href="genres.html" class="list-group-item list-group-item-action active" aria-current="true"
                style="background-color: rgb(240, 240, 81); border-color: black; color: black;">Zvrsti</a>
              <a href="albums.html" class="list-group-item list-group-item-action"
                style="background-color: black; border-color: rgb(240, 240, 81); color:rgb(240, 240, 81);">Albumi</a>
            </div>
            <img src="img/soundwaves.gif" style="float:right;">
          </div>
          <!-- seznam glasbenikov -->
          <div class="col-9" style="padding-top: 100px;">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" style="background-color: black; color: rgb(240, 240, 81);;">Zvrst</th>
                  <th scope="col" style="background-color: black; color: rgb(240, 240, 81);;">Izbris
                  </th>
                  <th scope="col" style="background-color: black; color: rgb(240, 240, 81);;">Sprememba
                  </th>
                </tr>
              </thead>
              <tbody>
                <!-- zvrsti -->
                <tr v-for="genre in genres" :key="genre.id">
                  <td style="background-color: black; color: rgb(240, 240, 81);">
                    {{genre.name}}</td>
                  <td style="background-color: black;">
                    <button @click="deleteGenre(genre.id)" type="button" class="btn btn-sm btn-outline-light"
                      style="border-color: rgb(240, 240, 81); color:rgb(240, 240, 81);">Izbriši</button>
                  <td style="background-color: black;"><button @click="populateForm(genre)" type="button"
                      class="btn btn-sm btn-secondary"
                      style="border-color: rgb(240, 240, 81); color:rgb(240, 240, 81);">Spremeni</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <!-- dodajanje novega glasbenika -->
            <div class="col-9" style="padding-top: 30px;">
              <h4 style="color: rgb(240, 240, 81); padding-bottom: 20px;">Dodaj Zvrst</h4>
              <form>
                <div class="mb-3">
                  <label for="genreName" class="form-label" style="color: rgb(240, 240, 81);">Zvrst</label>
                  <input v-model="formGenre.name" type="text" class="form-control" id="genreName"
                    aria-describedby="nameHelp" style="background-color: rgb(240, 240, 81);">
                  <div id="nameHelp" class="form-text"></div>
                </div>
              </form>
              <button @click="postGenre()" type="button" class="btn btn-outline-dark"
                style="background-color: yellow;">Shrani</button>
              <button @click="cleanForm()" type="button" class="btn btn-outline-light"
                style="border-color: rgb(240, 240, 81); color:rgb(240, 240, 81); margin-left: 10px;">Počisti
                obrazec</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer class="container-fluid" style="margin-top: 400px;">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgb(61, 57, 57); color: black;">© 2024 Copyright: PRA
        NOO - FIŠ NM
      </div>
    </footer>
    <!-- poppers -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>
  </div>
</body>

</html>
